In [9]:
import pandas as pd

# Adding text table into python

In [10]:
df= pd.read_table("C:\\Users\\user\\Downloads\\University_towns.txt")
df

                                         Alabama[edit]
0                        Auburn (Auburn University)[1]
1               Florence (University of North Alabama)
2      Jacksonville (Jacksonville State University)[2]
3           Livingston (University of West Alabama)[2]
4             Montevallo (University of Montevallo)[2]
..                                                 ...
561  Stevens Point (University of Wisconsin–Stevens...
562                      Waukesha (Carroll University)
563  Whitewater (University of Wisconsin–Whitewater...
564                                      Wyoming[edit]
565                 Laramie (University of Wyoming)[5]

[566 rows x 1 columns]

# Cleaning entire text dataset

Separatng entire dataset into two columns i.e. States and RegionName.

In [11]:
university_towns = []
with open(r'C:\Users\user\Downloads\University_towns.txt', 'r') as file:#changing normal string to raw
    items = file.readlines()#read all lines and keeps in list
    states = list(filter(lambda x: '[edit]' in x, items))
    
    for index, state in enumerate(states):
        start = items.index(state) + 1
        if index == 49: #since 50 states
            end = len(items)
        else:
            end = items.index(states[index + 1])
            
        pairs = map(lambda x: [state, x], items[start:end])
        university_towns.extend(pairs)#adds all the element to the end of the list
        
towns_df = pd.DataFrame(university_towns, columns = ['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [12]:
# Further Cleaning
def clean_up(item):
    if '(' in item:
        return item[:item.find('(') -1]
    if '[' in item:
        return item[:item.find('[')]
towns_df = towns_df.applymap(clean_up)
towns_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo